{% extends 'index.html'%}
{% load static %}

{% block title %} Camera 1 {% endblock %}

{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'camera.css' %}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="box">
        <h1 class="heading">Live Stream Camera {{ id }}</h1>
        <img class="stream" src="http://127.0.0.1:8000/camera1/video_feed_1">
        <button class="generate " onclick="location.href='{% url 'report' id %}'">Generate Report</button>
    </div>

{% endblock %}
