{% extends 'index.html'%}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block navbar %}
    <div>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow-lg">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Social Distance Monitoring</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.un.org/sites/un2.un.org/files/social_1.jpg" class="carousel-image"  alt="Be Ready">
            </div>
            <div class="carousel-item">
              <img src="https://www.un.org/sites/un2.un.org/files/social_2.jpg" class="carousel-image" alt="Be Supportive">
            </div>
            <div class="carousel-item">
              <img src="https://www.un.org/sites/un2.un.org/files/social_3.jpg"  class="carousel-image" alt="Be Safe">
            </div>
         </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="button-container" class ="left mt-5">
        <button class="camera-button" onclick="location.href='{% url 'camera' 1 %}'">Camera 1</button>
        <button class="camera-button" onclick="location.href='{% url 'camera' 2 %}'">Camera 2</button>
    </div>
{% endblock %}
