{% load static %}
<!DOCTYPE html>
<html lang="en">


    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel = "icon" href ="https://images.squarespace-cdn.com/content/v1/5943c23a440243c1fa28585f/1588005267054-DELBLAOG1KKNPQM9DOCC/ke17ZwdGBToddI8pDm48kBKQuidmLTrWJ6YwXEC10nl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USp75emb1zUjZAjRyzAYeuR_gOrY0MjG90At5NKQ8omvbSexTd1-frD7527z4SM9QQ/social+distancing.png" type = "image/x-icon">
        <title>{% block title %} Social Distance Monitor {% endblock %}</title>

        {% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        {% endblock %}

    </head>
    <body>

        {% block navbar %}
        {% endblock %}

        {% block content %}

         <div id="bod" class="d-flex align-items-center min-vh-100">
            <div class="container bg-white border pl-3 pr-3 pt-4"  align="center" style="border-radius:7px; width:300px;">

            <form action="{%url 'login' %}" method="post">
                {% csrf_token %}
                <br>
                <!-- Enter Your Email: -->
                
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                
                <!-- Enter Your Password: -->
                <br>
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" name="pass">
                <br>
                <button class="btn-primary"  type="submit">Login</button>
                <br> <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <p style="color: red">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>

            </div>
            </div>

        {% endblock %}
    </body>
</html>
