{% extends 'index.html'%}
{% load static %}

{% block title %} Report 1 {% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'report.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox.css' %}" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="heading">
        <h1 style="font-family: 'Trebuchet MS';text-decoration: underline;text-underline-position: under">Report</h1>
        <button style="background: none;"><img src="{% static 'print.png' %}" style="width: 65px;height: 70px;"></button>
    </div>
    <table class="table align-middle table-hover mt-5">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          {% for date,time,url in data %}
            <tr>
              <td>{{date}}</td>
              <td>{{time}}</td>
              <td>
                <a href={{url}} data-lightbox="roadtrip"><img id="myImg" src={{url}} height="250px" width="400px"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

     <script src="{% static 'lightbox-plus-jquery.js' %}"></script>
{% endblock %}
