{% extends 'index.html'%}
{% load static %}

{% block title %} Report 1 {% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'report.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox.css' %}" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <h1>Report {{ id }}</h1>
    <button class="btn">Print Table</button>
    <table width="100%" >
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Image</th>
      </tr>
      {% for date,time,url in data %}
        <tr>
          <td>{{date}}</td>
          <td>{{time}}</td>
          <td>
            <a href={{url}} data-lightbox="roadtrip"><img id="myImg" src={{url}} height="250px" width="400px"></a>
          </td>
        </tr>
      {% endfor %}
    </table>

     <script src="{% static 'lightbox-plus-jquery.js' %}"></script>
{% endblock %}
